<%- include('public/header.ejs', {pageName: null}); %>

<body>
  <div id=app style="margin: 20px auto;max-width:750px">
    <h1 style="margin-bottom: 20px;">
      <a href="/koa/">1、增删改查demo</a><br>
      <span>2、文件上传demo</span><br>
      <a href="/koa/staticDir">3、静态文件服务器</a>
    </h1>
    <br>
    <!-- <h2 style="margin-bottom: 20px;">（进度前端监听，非后台返回）</h2> -->
    <div style="margin-bottom: 20px">
      <input type="file" name="file" multiple id="file">
      <button onclick="uploadFiles()">提交</button>
    </div>
  </div>
  <script>
    let $files = document.querySelector('#file')
    let $app = document.querySelector('#app')

    function uploadFiles() {
      let files = $files.files //web端的 files是 FileList类型的类数组对象，循环需要转换成数组
      if (Object.prototype.toString.call(files).slice(8, -1) === 'FileList') {
        [].slice.call(files).forEach((file) => {
          console.log(1, file)
          upload(file)
        })
      } else {
        console.log(2, files)
        upload(files)
      }
    }

    function upload(file) {
      var formData = new FormData();
      formData.append('keepName', false);
      formData.append('file', file);
      var xhr = new XMLHttpRequest();
      xhr.timeout = 60000;
      xhr.ontimeout = function (event) {
        console.log('60s,请求超时！');
      }
      xhr.onprogress = updateProgress;//这是下载的progress
      let randomId = '_' + (Math.random() * 100000000).toFixed(0)
      xhr.upload.onprogress = (e) => {
        updateProgress(e, randomId, file.name)
      };
      xhr.open('POST', '/uploadFile');
      xhr.send(formData);
      xhr.onreadystatechange = function () {
        if (xhr.readyState == 4 && xhr.status == 200) {
          let res=JSON.parse(xhr.responseText)
          let img=document.createElement('img')
          img.setAttribute("title", file.name);
          img.setAttribute('src',res.url)
          img.setAttribute('width',100)
          img.setAttribute('height',100)
          document.querySelector('#' + randomId).appendChild(img)
          console.log(res)
        } else {
          console.log(xhr.statusText);
        }
      };
    }

    function updateProgress(event, randomId, name) {
      if (name && event.lengthComputable) {
        $showProgress = document.querySelector('#' + randomId)
        if (!$showProgress) {
          $showProgress = document.createElement('div')
          $br = document.createElement('br')
          $showProgress.setAttribute("id", randomId);
          $app.appendChild($showProgress)
          $app.appendChild($br)
        }
        var percentComplete = name + "  ======>  " + (event.loaded / event.total * 100).toFixed(2) + '%';
        console.log(name, percentComplete)
        $showProgress.innerHTML = percentComplete
      }
    }
  </script>
</body>

</html>
