<%- include('public/header.ejs', {pageName: pageName}); %>

<body>
  <style>
    .wrap{
    }
    .info{
      padding: 10px;
      margin-top: 10px;
    }
    h3{
      padding: 10px;
      margin-top: 10px;
    }
    video{
      width: 100%;
      height: auto;
    }
  </style>
  <div class="wrap">
    <p class='info'>
      介绍这些事并非针对任何人或者事物，只是让观看者了解某些可能不完整的事实。视频内的内容也需要自己理性判断，因为视频的制作者也可能对真相了解的并不完整。
    </p>
    <h3>1、六四事件：广场备忘录</h3>
    <video src="http://3.112.154.201:9000/static/upload/2019069/111.mp4" controls></video>
    <h3>2、改革开放中的邓小平：六四事件、经济奇迹与牛角面包</h3>
    <video src="http://3.112.154.201:9000/static/upload/2019069/222.mp4" controls></video>
    <h3>3、江泽民与华莱士谈笑风生</h3>
    <video src="http://3.112.154.201:9000/static/upload/2019069/333.mp4" controls></video>
  </div>
</body>

</html>